$imgW : 1000px;

    
.variedades {
    width: $imgW; 
}
.espresso {
    width: $imgW;
}
.americano {
    width: $imgW;
}
.latte {
    width: $imgW;
}
.longB {
    width: $imgW;
}
.capu {
    width: $imgW;
}
